@model IEnumerable<WebApplicationFileManager.Models.Blog>

@{
    ViewBag.Title = "Index";
}
@*header*@
<div class="row MvcView-header">
    <div class="col d-none d-sm-block">
        <h2 class="MvcView-Title px-2">لیست ... جدید</h2>
    </div>
    <div class="col-auto text-end">
        @Html.ActionLink("افزودن ... جدید", "Create", null, new { @class = "btn-add" })
    </div>
</div>
@*main*@
<div class="MvcView-list">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PostImage)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PostTitle)
                    </th>
                    <th>
                        <i class="bi bi-three-dots solotion"></i>
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr data-bs-toggle="modal" data-bs-target="#Modal_@i">


                        <td>
                            @if (item.PostImage != null)
                            {
                                <img src="@item.PostImage" />
                            }
                            else
                            {
                                <img src="~/Images/User/user.jpg" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostTitle)
                        </td>

                        <td class="text-end">
                            <i class="bi bi-three-dots-vertical"></i>
                            <!-- Modal @i -->
                            <div class="modal fade" id="Modal_@i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLabel">تایتل مدال</h2>
                                            <i class="bi bi-x btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></i>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                @Html.ActionLink("ویرایش", "Edit", new { id = item.PostID }, new { @class = "btn-edit" })
                                            </div>
                                            <div>
                                                @Html.ActionLink("جزئیات", "Details", new { id = item.PostID }, new { @class = "btn-detail" })
                                            </div>
                                            <div>
                                                @Html.ActionLink("حذف", "Delete", new { id = item.PostID }, new { @class = "btn-delete" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    i = i + 1;
                }

            </tbody>
        </table>
    </div>
</div>

@section Style{
    @*My Css Code*@
}
@section Script{
    <script>
        @*for hover Right navbar slider *@
        $(document).ready(function () {
            $('#dashboard').addClass('active');
            @*Search table*@
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

